.App {
  font-family: sans-serif;
  text-align: center;
  width: calc(100% - 64px);
  margin: 0 32px;
}

.panel-content {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
