.App {
  font-family: sans-serif;
  text-align: center;
  width: calc(100% - 64px);
  margin: 0 32px;
}

.controls {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 16px;
}

button {
  appearance: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #2b2b2b;
  transition: background-color 150ms ease-in-out;
  &:hover {
    background-color: rgb(0 0 0 / 0.03);
  }
  &:active {
    background-color: rgb(0 0 0 / 0.06);
  }
}

.panel-content {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
}

.panel-remove-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  &:hover {
    background-color: rgb(0 0 0 / 0.06);
  }
}
