.panelgrid-renderer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--column-count, 6), 1fr);
  width: 100%;
  gap: var(--gap, 8px);
}

.panelgrid-panel-placeholder {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgb(0 0 0 / 0.03);
}

.panelgrid-panel-ghost {
  display: none;
  position: absolute;
  border-radius: 4px;
  outline: 1px dashed rgba(0, 0, 0, 0.2);
  outline-offset: 1px;
  pointer-events: none;
  z-index: 0;
}

.panelgrid-panel {
  position: absolute;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: grab;
  overflow: auto;
}

.panelgrid-panel--dragging {
  cursor: grabbing;
  box-shadow: 0px 11px 30px 0px #0000001f;
  z-index: calc(infinity);
}

.panelgrid-panel--with-transition {
  transition:
    top 0.15s ease-out,
    left 0.15s ease-out,
    width 0.1s ease-out,
    height 0.1s ease-out;
}

.panelgrid-resize-handle {
  position: absolute;
  display: inline-block;
  width: 24px;
  aspect-ratio: 1 / 1;
  background-color: rgba(0, 0, 0, 0.12);
}

.panelgrid-resize-handle--nw {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  &:hover {
    cursor: nwse-resize;
  }
}

.panelgrid-resize-handle--ne {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  &:hover {
    cursor: nesw-resize;
  }
}

.panelgrid-resize-handle--se {
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.12);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  &:hover {
    cursor: nwse-resize;
  }
}

.panelgrid-resize-handle--sw {
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.12);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  &:hover {
    cursor: nesw-resize;
  }
}

.panelgrid-resizing,
.panelgrid-dragging {
  user-select: none;
}
